@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyFont';
  src: url('./HACKED.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* adding the hacked games font to the prohject externally  */

/* Apply it globally */
body {
  font-family: 'MyFont', fantasy, cursive, serif;
  letter-spacing: 1.5px;
}
